body {
  background-color: #CACACA;
  font-family: Avenir Next;
}

.cal-width {
  width: 420px;
}

.grey {
  color: #686868;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}